PORT=3000
MONGO_URI=mongodb://localhost:27017/printshop_billing
JWT_SECRET=change_this_jwt_secret
LICENSE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...paste RSA PRIVATE KEY PEM...\n-----END PRIVATE KEY-----"
